/* Gaya untuk halaman data-recovery */
.data-recovery-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.data-recovery-content {
  flex: 1;
  padding: 2rem;
}

.import-export-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

/* Gaya untuk pop-up login */
.login-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Latar belakang semi-transparan */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Agar pop-up berada di atas konten */
}

.popup-content {
  background: white;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
  max-width: 400px;
  width: 100%;
  color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.popup-content h3 {
  margin-bottom: 20px;
}

.popup-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.login-popup-button, .back-popup-button {
  padding: 10px 20px;
  background-color: #976B0E;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 48%;
}

.login-popup-button:hover, .back-popup-button:hover {
  background-color: #7f570a; /* Warna yang sedikit lebih gelap untuk hover */
}

.back-popup-button {
  background-color: #7f7f7f;
}

.back-popup-button:hover {
  background-color: #5c5c5c;
}
